.vscode/**
.gitignore
.vscodeignore
node_modules/**
src/**
**/*.ts
out/**
!out/extension.js
!out/extension.js.map
rolldown.config.mjs
tsconfig.json
.oxlintrc.json
.oxfmtrc.json
pnpm-lock.yaml
pnpm-workspace.yaml
.npmrc
**/__pycache__/**
formatters/test_quilon.py
